#responsive_tbl table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0px solid #ddd;
}

#responsive_tbl td {
  text-align: left;
  padding: 8px;
}

#responsive_tbl th{
	text-align: center;
	border-bottom: 1px solid black;
}

#responsive_tbl tr:nth-child(even){}