.sliderbg1 {
  background-image: url(../img/banner/customer_home_banner1.jpg);
}

/* line 4, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_slider.scss */
.sliderbg2 {
  background-image: url(../img/banner/customer_home_banner2.jpg);
}

/* line 7, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_slider.scss */
.sliderbg3 {
  background-image: url(../img/banner/customer_home_banner3.jpg);
}

.sliderbg4 {
  background-image: url(../img/banner/customer_home_banner4.jpg);
}
/*------------------------------*/
/*--------for slider h4-----------*/
.slider_area .single_slider .slider_text h4 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: .5;
  color: #fff;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  /* line 38, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h4 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 38, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h4 {
    font-size: 94px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 38, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h4 {
    font-size: 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 38, ../../Arafath/CL/December/231. Travel-02/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 120px;
  }
}